.carbox{
	margin-top : 4.7%;
	margin-left : 30%;
	width : 40%;
	height : 400px;
}
.cardetails{
	position:absolute;
	left:30%;
	bottom:50px;
	/*margin-top:-2.4%;
	margin-left : 30%;*/
	width : 40%;
	height:40px;
	background-color: black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding-top: 20px;
	color:#FFF;
}

.carimage{
	height :370px;
	width : 100%;
	margin-bottom : 30px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.cartitle{
	text-align:center;
	background-color:#000;
	color:#fff;
	height:62px;
	margin:-8px -8px 0;
	padding-top:40px;

}

.car-info{
	position: absolute;
    left: 25%;
    top: 25%;
}
.car-more-info{
	position:absolute;
	left:25%;
	bottom:66px;
	/*margin-top:-2.4%;
	margin-left : 30%;*/
	width : 46.4%;
	height:100px;
	background-color: black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding-top: 20px;
	color:#FFF;
	padding:10px
}
body{
	background-size: 80px 60px;
	/*background: rgba(117,189,209,1);
background: -moz-linear-gradient(left, rgba(117,189,209,1) 5%, rgba(117,189,209,1) 27%, rgba(147,206,222,1) 51%, rgba(85,172,196,1) 92%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(5%, rgba(117,189,209,1)), color-stop(27%, rgba(117,189,209,1)), color-stop(51%, rgba(147,206,222,1)), color-stop(92%, rgba(85,172,196,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(117,189,209,1) 5%, rgba(117,189,209,1) 27%, rgba(147,206,222,1) 51%, rgba(85,172,196,1) 92%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(117,189,209,1) 5%, rgba(117,189,209,1) 27%, rgba(147,206,222,1) 51%, rgba(85,172,196,1) 92%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(117,189,209,1) 5%, rgba(117,189,209,1) 27%, rgba(147,206,222,1) 51%, rgba(85,172,196,1) 92%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(117,189,209,1) 5%, rgba(117,189,209,1) 27%, rgba(147,206,222,1) 51%, rgba(85,172,196,1) 92%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#49a5bf', GradientType=1 );
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
}